name: Manage labels

on:
  push:
    branches:
      - main
      - master

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions: # <--- ADD THIS SECTION!
      issues: write # <--- This grants write access to issues, including labels
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          skip-delete: true
